$breakpoints: (
  xsmall: (
    max-width: 360px,
  ),
  small: (
    max-width: 640px,
  ),
  medium: (
    max-width: 800px,
  ),
  large: (
    max-width: 1024px,
  ),
  xlarge: (
    max-width: 1200px,
  ),
  xxlarge: (
    max-width: 1440px,
  ),
);

@mixin mq($breakpoint) {
  $size: map-get(
    $map: $breakpoints,
    $key: $breakpoint,
  );
  @if ($size) {
    @media #{$size} {
      @content;
    }
  } @else {
    @error '"#{$breakpoint}" - does not exists in breakpoint list';
  }
} ;
